<h1>議事録一覧</h1>
<%= link_to '議事録登録', new_transcript_path %>
<table>
  <tr>
    <th class="list_menu">タグ</th>
    <th class="list_menu">説明</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transcripts.each do |transcript| %>
  <tr>
    <td><%=image_tag transcript.transcript.url(:thumb) %><%= transcript.tag %></td>
    <td><%= transcript.descritpion %></td>
    <td><%= link_to '詳細', transcript %></td>
    <td><%= link_to '編集する', edit_transcript_path(transcript) %></td>
    <td><%= link_to '削除する', transcript, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

